**
!Dockerfile
!LICENSE
!NOTICE
!licenses/
!licenses/**
!swagger.lock.json
!scripts/
!scripts/frontend-notices.mjs
!scripts/go-notices.py
!scripts/swagger-notices.py
!docker/
!docker/entrypoint.sh
!.local/
!.local/source/
!.local/source/**
!.local/os-source-kit/
!.local/os-source-kit/**
.local/source/.git
.local/source/web/node_modules
.local/source/web/build
.local/source/web/build-temp
.local/source/web/build-old
